body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 1000px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    padding: auto;
    margin: auto;
    margin-top: 50px;
    border: solid 1px #cccccc;
    background-color: #cccccc;
    padding: 25px;
    border-radius: 15px;
}

.hidden {
    display: none;
}

.tasks {
    width: 35%;margin: auto;
    margin-top: 50px;
    background-color: #cccccc;
    border: solid 1px #cccccc;
    border-radius: 15px;
    padding: 10px 24px;
    padding-bottom: 25px;
}

.input {
    width: 400px;
    min-width: 50px;
    height: 2rem;
    font-size: 1.2rem;
}

.add {
    background-color: rgba(255, 0, 0, 0.844);
    border: none;
    border-radius: 5px;
    height: 2rem;
    padding: 8px 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.4rem;
    font-size: 1.2rem;
    background-color: white;
    border: solid 1px #cccccc;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px;
}

.delete {
    background-color: red;
    border: none;
    border-radius: 5px;
    height: 2.4rem;
    padding: 8px 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.scroller {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.scroller svg {
    margin-right: 25px;
    width: 35px;
    height: 35px;
}